/* setting custom css properties */
:root {
    --white: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    --font-size: 0.9375em;
    --font-family: 'Outfit', sans-serif;;
}


html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--Light-gray);
    vertical-align: middle;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
}

.qr-card {
    width: 18.75em;
    margin: auto auto;
    padding: 0.9375em;
    background-color: var(--white);
    border-radius: 0.9375em;
    text-align: center;
}

.qr-card .qr-img {
    width: 16.875em;
    border-radius: 0.625em;
}

.qr-card .txt-box {
    padding: 0 0.625em;
    padding-bottom: 0.9375em;
}

.qr-card .title {
    font-weight: 700;
    font-size: 1.375rem;
    color: var(--Dark-blue);
}

.qr-card .description  {
    font-size: var(--font-size);
    color: var(--Grayish-blue);
}

/* default attribution css */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
